<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.schriftgestaltung.DisplayStrings</key>
	<array>
		<string>ANCR</string>
	</array>
	<key>com.schriftgestaltung.disablesAutomaticAlignment</key>
	<false/>
	<key>com.schriftgestaltung.fontMaster.customParameters</key>
	<array>
		<dict>
			<key>name</key>
			<string>paramArea</string>
			<key>value</key>
			<string>300</string>
		</dict>
		<dict>
			<key>name</key>
			<string>paramDepth</string>
			<key>value</key>
			<string>15.00</string>
		</dict>
		<dict>
			<key>name</key>
			<string>paramOver</string>
			<key>value</key>
			<string>5</string>
		</dict>
	</array>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>1CE06DFA-B171-49B5-B059-EB17A0D5BD78</string>
	<key>com.schriftgestaltung.glyphOrder</key>
	<false/>
	<key>com.schriftgestaltung.useNiceNames</key>
	<true/>
	<key>public.glyphOrder</key>
	<array>
		<string>space</string>
		<string>B</string>
		<string>F</string>
		<string>D</string>
		<string>E</string>
		<string>Y</string>
		<string>G</string>
		<string>Z</string>
		<string>X</string>
		<string>T</string>
		<string>O</string>
		<string>A</string>
		<string>M</string>
		<string>I</string>
		<string>C</string>
		<string>K</string>
		<string>R</string>
		<string>V</string>
		<string>P</string>
		<string>L</string>
		<string>W</string>
		<string>U</string>
		<string>Q</string>
		<string>J</string>
		<string>S</string>
		<string>H</string>
		<string>N</string>
	</array>
</dict>
</plist>
